<html>
<head>
  <meta charset="utf-8">
  <title>Dojo New</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</head>
  <body>
    <h1>Hey New Dojo Ninja's!  Please fill in the following form</h1>
    <form action="/action_page.php">
      First name:<br>
      <input type="text" name="firstname" value="Coding">
      <br>
      Last name:<br>
      <input type="text" name="lastname" value="Dojo">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <p>Feel free to click on the submit button...</p>
  </body>
</html>
