<html>
<head>
  <meta charset="utf-8">
  <title>Ninja</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
</head>
  <body>
    <h1>Welcome aboard Ninjas!!!</h1>
    <h2>Ninjas:  https://pixabay.com/en/ninjas-cartoon-character-black-309557/</h2>
    <img src="{{ url_for('static', filename='images/littleninjas.png') }}" alt="Little Ninja" height="200" width="300">
  </body>
</html>
